<md-sidenav class="md-sidenav-right md-whiteframe-z2"
            md-component-id="right">

  <md-toolbar class="md-theme-indigo">

    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="more" ng-click="$mdOpenMenu()">
        <md-icon md-font-library="material-icons">close</md-icon>
      </md-button>

      <h1 class="md-toolbar-tools">Card Set Details</h1>
    </div>

  </md-toolbar>

  <md-content flex layout="column">
  </md-content>

</md-sidenav>


<md-content flex layout="column">
  <ht-card-set-list flex layout="column" card-sets="vm.localCardSets"></ht-card-set-list>
</md-content>


<md-button class="md-fab md-fab-top-left md-mini"
           id="card-set-list__fab"
           aria-label="Create card set"
           ng-click="vm.createCardSet()">
  <md-icon md-font-library="material-icons">add</md-icon>
</md-button>
