<div flex
     layout="column">

  <!--<md-toolbar class="md-whiteframe-z1">-->
    <!--<div class="md-toolbar-tools">-->

      <!--<md-button class="md-icon-button"-->
                 <!--aria-label="menu"-->
                 <!--ng-click="vm.toggleLeftNav()"-->
                 <!--hide-gt-md>-->
        <!--<md-icon md-font-library="material-icons">menu</md-icon>-->
      <!--</md-button>-->

      <!--<h2 hide-gt-md>-->
        <!--<span>Hints</span>-->
      <!--</h2>-->

      <!--<span flex></span>-->

      <!--<md-button class="md-icon-button"-->
                 <!--aria-label="add a new card"-->
                 <!--ng-click="vm.addWordCard()">-->
        <!--<md-icon md-font-library="material-icons">add_circle</md-icon>-->
      <!--</md-button>-->

      <!--<md-button class="md-icon-button" aria-label="more">-->
        <!--<md-icon md-font-library="material-icons">more_vert</md-icon>-->
      <!--</md-button>-->

    <!--</div>-->
  <!--</md-toolbar>-->

  <md-content flex
              layout-fill
              class="ht-content">

      <ht-word-card ng-repeat="card in vm.wordCards"
                    ng-style="{'background': card.backgroundColor}">

        <md-button class="md-icon-button md-warn" aria-label="add a new card" ng-click="vm.removeWordCard($index)">
          <md-icon md-font-library="material-icons">remove_circle</md-icon>
        </md-button>

      </ht-word-card>


  </md-content>

</div>







