<md-list-item class="md-3-line"
              ng-click="goToPerson(person.name, $event)">

  <div class="md-avatar"></div>

  <div class="md-list-item-text">
    <h3>Dummy card set</h3>
    <h4>IELTS; Wordlist 1</h4>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>

  <md-icon md-svg-icon="communication:messenger"
           ng-click="doSecondaryAction($event)"
           aria-label="Open Chat"
           class="md-secondary md-hue-3"
           ng-class="{'md-primary': person.newMessage}"></md-icon>
</md-list-item>
