<!--<md-content flex-->
            <!--layout-fill-->
            <!--class="ht-content">-->

  <!--<ht-word-card ng-repeat="card in vm.wordCards"-->
                <!--ng-style="{'background': card.backgroundColor}">-->

    <!--<md-button class="md-icon-button md-warn" aria-label="add a new card" ng-click="vm.removeWordCard($index)">-->
      <!--<md-icon md-font-library="material-icons">remove_circle</md-icon>-->
    <!--</md-button>-->

  <!--</ht-word-card>-->


<!--</md-content>-->

<md-button ng-click="vm.saveCardSet(vm.cardSet)">create card set</md-button>
